@import "base/reset";
@import "layout/header";
@import "layout/footer";

body {
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
}
