.hero {
    min-height: 315px;
    display: flex;
    align-items: center;
    color: white;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &-content {
        width: 100%;
        justify-content: center;
        text-align: center;

        h1 {
            font-size: 1.5rem;
            line-height: 1.2;
            margin-bottom: 15px;
            font-weight: 700;
            text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.54);

            @media (min-width: 769px) {
                font-size: 2.2rem;
            }
        }

        p {
            font-size: 1.2rem;
            margin-bottom: 30px;
            opacity: 0.9;
        }
    }
}

.aedin-title {
    font-size: 2.5rem;
    display: block;
    margin-top: 5px;

    @media (min-width: 769px) {
        font-size: 3rem;
        margin-top: 10px;
    }
}