<header class="main-header">
    <div class="container">
        <div class="logo">
            <a href="/">
                <img
                    src="{{ get_url(path='images/logo-aedin.svg') }}"
                    alt="AEDIN Logo"
                />
            </a>
        </div>
        <nav class="nav-menu">
            <ul>
                <li>
                    <a
                        href="/"
                        class="{% if current_path is defined and current_path == '/' %}active{% endif %}"
                        >Home</a
                    >
                </li>
                <li>
                    <a
                        href="/sobre"
                        class="{% if current_path is defined and current_path is starting_with('/sobre') %}active{% endif %}"
                        >Sobre</a
                    >
                </li>
                <li>
                    <a
                        href="/diretoria"
                        class="{% if current_path is defined and current_path is starting_with('/diretoria') %}active{% endif %}"
                        >Diretoria</a
                    >
                </li>
                <li>
                    <a
                        href="/eventos-projetos"
                        class="{% if current_path is defined and current_path is starting_with('/eventos-projetos') %}active{% endif %}"
                        >Eventos e Projetos</a
                    >
                </li>
                <li>
                    <a
                        href="/associados"
                        class="{% if current_path is defined and current_path is starting_with('/associados') %}active{% endif %}"
                        >Associados</a
                    >
                </li>
            </ul>
        </nav>
    </div>
</header>
