.btn {
    background-color: #000;
    padding: 12px 40px;
    border-radius: 16px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    color: #fff;
    transition:
        transform 0.2s ease,
        background-color 0.2s ease;

    &:hover {
        background-color: #222;
        transform: scale(1.05);
    }
}
