{% extends "base.html" %}

{% block content %}
<body class="directors-page">
    <header class="site-header">
        <div class="tabs">
            <a href="{{ get_url(path='directors') }}">Diretoria Atual</a>
            <a href="{{ get_url(path='old-directors') }}">Diretorias Antigas</a>
        </div>
    </header>
<section class="directors-page">

    <section class="hero" style="background-image: url('{{ get_url(path="images/hero-background.svg") }}')">
        <div class="hero-content">
            <h1>
                Diretoria Atual da AEDIN
            </h1>
            <p>Conectando egressos, docentes e o futuro da tecnologia na UEM</p>
        </div>
    </section>

</section>

<!--Diretoria executiva -->
<section class="directors-page">
    <div class="red-title-section">
        <h2>
            Diretoria Executiva
        </h2>
    </div>
</section>
<section class="directors-page">
    <div class="blue-title-section">
        <h2>
            Mesa de Diretores
        </h2>
    </div>
</section>

<section class="directors-page">

    <div class="directors-card">
        <div class="img-holder"></div>
        <div class="info">

                <p><strong>Nome:</strong> Ultimo besouro</p>

                <p><strong>Cargo:</strong> Diretor Geral</p>

                <p><strong>Gestão:</strong> 01/01/2025 - 01/01/2026</p>

                <p><strong>Ocupação:</strong> Motorista do knight</p>
                
                <p>
                    <strong>Links:</strong>
                    <a href="#"> Instagram</a> |
                    <a href="#"> Linkedin</a> |
                    <a href="#"> Lattes</a>
                </p>
                
                <p class="comentario">
                    "Fiquei duro e cansado durante esses muitos anos e esqueci muito,
                    mas o som do sino sempre me chama de volta."
                </p>
        </div>
    </div>
</section>

<section class="directors-page">

    <div class="directors-card">
        <div class="img-holder"></div>
        <div class="info">

                <p><strong>Nome:</strong> Jõao Knight</p>

                <p><strong>Cargo:</strong> Vice diretor</p>

                <p><strong>Gestão:</strong> 01/01/2025 - 01/01/2026</p>

                <p><strong>Ocupação:</strong></p>
                
                <p>
                    <strong>Links:</strong>
                    <a href="#"> Instagram</a> |
                    <a href="#"> Linkedin</a> |
                    <a href="#"> Lattes</a>
                </p>
                    <p class="comentario">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam placerat mattis lorem, ut tempor dui scelerisque sit amet."
                    </p>
        </div>
    </div>
</section>

<section class="directors-page">

    <div class="directors-card">
        <div class="img-holder"></div>
        <div class="info">

                <p><strong>Nome:</strong> Pablo</p>

                <p><strong>Cargo:</strong> Vice diretor</p>

                <p><strong>Gestão:</strong> 01/01/2025 - 01/01/2026</p>

                <p><strong>Ocupação:</strong></p>
                
                <p>
                    <strong>Links:</strong>
                    <a href="#"> Instagram</a> |
                    <a href="#"> Linkedin</a> |
                    <a href="#"> Lattes</a>
                </p>
                    <p class="comentario">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam placerat mattis lorem, ut tempor dui scelerisque sit amet."
                    </p>
        </div>
    </div>
</section>
<section class="directors-page">
    <div class="blue-title-section">
        <h2>
            Secretariado
        </h2>
    </div>
</section>

<section class="directors-page">

    <div class="directors-card">
        <div class="img-holder"></div>
        <div class="info">

                <p><strong>Nome:</strong> Roberto Sanchez</p>

                <p><strong>Cargo:</strong> Secretário Geral</p>

                <p><strong>Gestão:</strong> 01/01/2025 - 01/01/2026</p>

                <p><strong>Ocupação:</strong></p>
                
                <p>
                    <strong>Links:</strong>
                    <a href="#"> Instagram</a> |
                    <a href="#"> Linkedin</a> |
                    <a href="#"> Lattes</a>
                </p>
                    <p class="comentario">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam placerat mattis lorem, ut tempor dui scelerisque sit amet."
                    </p>
        </div>
    </div>
</section>
<section class="directors-page">
    <div class="blue-title-section">
        <h2>
            Tesouraria
        </h2>
    </div>
</section>

<section class="directors-page">

    <div class="directors-card">
        <div class="img-holder"></div>
        <div class="info">

                <p><strong>Nome:</strong> Patches</p>

                <p><strong>Cargo:</strong> Secretário Geral</p>

                <p><strong>Gestão:</strong> 01/01/2025 - 01/01/2026</p>

                <p><strong>Ocupação:</strong></p>
                
                <p>
                    <strong>Links:</strong>
                    <a href="#"> Instagram</a> |
                    <a href="#"> Linkedin</a> |
                    <a href="#"> Lattes</a>
                </p>
                    <p class="comentario">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam placerat mattis lorem, ut tempor dui scelerisque sit amet."
                    </p>
        </div>
    </div>
</section>
<section class="directors-page">
    <div class="blue-title-section">
        <h2>
            Conselho Fiscal
        </h2>
    </div>
</section>

<section class="directors-page">

    <div class="directors-card">
        <div class="img-holder"></div>
        <div class="info">

                <p><strong>Nome:</strong> Larry </p>

                <p><strong>Cargo:</strong> Conselho Fiscal</p>

                <p><strong>Gestão:</strong> 01/01/2025 - 01/01/2026</p>

                <p><strong>Ocupação:</strong> Motorista do knight</p>
                
                <p>
                    <strong>Links:</strong>
                    <a href="#"> Instagram</a> |
                    <a href="#"> Linkedin</a> |
                    <a href="#"> Lattes</a>
                </p>
                
                <p class="comentario">
                    "𝅘𝅥 𝅘𝅥𝅮𝅘𝅥𝅮 𝅘𝅥𝅭 𝅘𝅥𝅮 𝄀 𝅘𝅥 𝅘𝅥𝅮 LARRY"
                </p>
        </div>
    </div>
</section>

<section class="directors-page">

    <div class="directors-card">
        <div class="img-holder"></div>
        <div class="info">

                <p><strong>Nome:</strong> Felipe Soares da Silva</p>

                <p><strong>Cargo:</strong> Conselho Fiscal</p>

                <p><strong>Gestão:</strong> 01/01/2025 - 01/01/2026</p>

                <p><strong>Ocupação:</strong></p>
                
                <p>
                    <strong>Links:</strong>
                    <a href="#"> Instagram</a> |
                    <a href="#"> Linkedin</a> |
                    <a href="#"> Lattes</a>
                </p>
                    <p class="comentario">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam placerat mattis lorem, ut tempor dui scelerisque sit amet."
                    </p>
        </div>
    </div>
</section>

<section class="directors-page">

    <div class="directors-card">
        <div class="img-holder"></div>
        <div class="info">

                <p><strong>Nome:</strong> Juliana Rodrigues Oliveira</p>

                <p><strong>Cargo:</strong> Conselho Fiscal</p>

                <p><strong>Gestão:</strong> 01/01/2025 - 01/01/2026</p>

                <p><strong>Ocupação:</strong></p>
                
                <p>
                    <strong>Links:</strong>
                    <a href="#"> Instagram</a> |
                    <a href="#"> Linkedin</a> |
                    <a href="#"> Lattes</a>
                </p>
                    <p class="comentario">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam placerat mattis lorem, ut tempor dui scelerisque sit amet."
                    </p>
        </div>
    </div>
</section>

{% endblock content %}