{% extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block content %}
    <section class="hero">
        <div class="hero-content">
            <h1>
                Associação de Egressos do Departamento de Informática <br />
                <span class="aedin-title">AEDIN</span>
            </h1>
            <p>Conectando egressos, docentes e o futuro da tecnologia na UEM</p>
            <a href="#" class="btn-hero">Seja um Associado</a>
        </div>
    </section>
{% endblock content %}