{% extends "base.html" %} {% block title %} Sobre {% endblock title %} {% block
content %}

<section class="hero" style="background-image: url('{{ get_url(path="images/hero-background.svg") }}')">
    <div class="hero-content">
        <h1>
            <span class="aedin-title">Sobre a AEDIN</span>
        </h1>
        <p>Conectando egressos, docentes e o futuro da tecnologia na UEM</p>
    </div>
</section>

<section class="all-contents">
    <div class="sidebar">
        <p>
        <div class="sidebar">
            <a class="sidebar-button" href="#historia">Nossa História</a>
            <a class="sidebar-button" href="#mvv">Missão, Visão e Valor</a>
            <a class="sidebar-button" href="#como-funcionamos">Como Funcionamos</a>
            <a class="sidebar-button" href="#faca-parte">Faça Parte</a>
            <a class="sidebar-button" href="#compromissos">Compromissos</a>
            <a class="sidebar-button" href="#beneficios">Beneficios</a>
            <a class="sidebar-button" href="#transparencia">Documentos</a>
            <a class="sidebar-button" href="#onde-estamos">Onde Estamos</a>
        </div>
    </div>
    
    <section class="main-contents">
        <!-- Nossa História -->
        <section class="content-section" id="historia">
            <div class="blue-title-section">
                <h2>Nossa História</h2>
            </div>
            <div class="content-our-history">
                <div class="text-container-our-history">
                    <p>
                        A AEDIN nasceu da necessidade de estreitar as relações 
                        entre egressos, docentes e o Departamento de Informática 
                        da UEM. Por  anos, ex-alunos e professores ficavam dispersos 
                        após o término dos  cursos, perdendo contato e oportunidades 
                        valiosas de colaboração.
                    </p>
                    <p>
                        Em fevereiro de 2025, um grupo de egressos, docentes e 
                        discentes se uniu para formalizar essa rede de apoio, 
                        criando a AEDIN. Desde então, trabalhamos para facilitar 
                        o networking profissional, apoiar projetos transformadores 
                        e trazer oportunidades da indústria de tecnologia para 
                        dentro da universidade.
                    </p>
                </div>
                <div class="img-our-history"></div>
            </div>
            <p>
                Hoje, a AEDIN representa uma ponte entre o passado, o presente e o 
                futuro do DIN/UEM, mantendo viva a conexão com quem passou pelo 
                departamento e abrindo portas para quem ainda está em formação.
            </p>
        </section>
        
        <!-- Missão, Visão e Valores -->
        <section class="content-section"id="mvv">
            <div class="red-title-section">
                <h2>Missão, Visão e Valores</h2>
            </div>
            
            <div class="list-cards">
                {% if page.extra.missao_visao_e_valores %}
                        {% for card in page.extra.missao_visao_e_valores %}
                        <div class="card-mvv">
                            <div class="card-mvv-title">
                                <img width="30" height="30" src="{{ get_url(path=card.icone) }}" alt="{{ card.titulo }}"/>
                                {{ card.titulo }}
                            </div>
                            <p>{{ card.texto | markdown | safe}}</p>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>Dados não encontrados no front-matter.</p>
                    {% endif %}
            </div>
        </section>
        
        <!-- Como Funcionamos-->
        <section class="content-section" id="como-funcionamos">
            <div class="red-title-section">
                <h2>Como Funcionamos</h2>
            </div>
        
            <div class="our-approach">
                <div class="approach-card ass">
                    <span>Assembleia Geral</span>
                    <p>
                        Órgão soberano da AEDIN, constituído por todos os associados 
                        em pleno  gozo de seus direitos. Responsável por eleger administradores, 
                        reformular o estatuto e deliberar sobre campanhas e projetos importantes.
                    </p>
                </div>
                
                <div class="exc-board-card ass">
                    <span>Diretoria Executiva</span>
                    
                    <div class="boards">
                       <p> <span> Mesa de Diretores: </span> 3 representantes (Docentes, Egressos e Discentes)</p>
                    </div>
                    
                    <div class="boards">
                       <p> <span> Secretariado:</span> Responsável por documentação, comunicação e cadastros</p>
                    </div>
                    
                    <div class="boards">
                       <p> <span> Tesouraria: </span> Gestão financeira e transparência)</p>
                    </div>
                    
                    <p>
                        <i>Mandato: 2 anos, permitida uma recondução.</i>
                    </p>
                    
                    <a class="btn">Conheça a Diretoria Atual</a>
                </div>
                
                <div class="approach-card ass">
                    <span>Conselho Fiscal</span>
                    <p>
                        Composto por 3 membros responsáveis por examinar a escrituração, 
                        balancetes, receitas e despesas, garantindo a transparência financeira 
                        da associação.
                    </p>
                    <a class="btn">Conheça o Conselho Fiscal Atual</a>
                </div>
            </div>
        </section>

        <!-- Faça Parte da AEDIN -->
        <section class="content-section" id="faca-parte">
            <div class="blue-title-section">
                <h2>Faça Parte da AEDIN</h2>
            </div>
        
            <p class="section-subtitle">Quem pode se associar à AEDIN</p>
            <div class="list-cards become-member-about-page">
                {% if page.extra.pode_ser_membro %}
                        {% for card in page.extra.pode_ser_membro %}
                        <div class="become-member-about-page-card">
                            <span>{{card.titulo}}</span>
                            <p>{{card.texto}}</p>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>Dados não encontrados no front-matter.</p>
                    {% endif %}
            </div>
        
            <p class="section-subtitle">Benefícios de ser Associado</p>
            <div class="list-benefits">
                <div class="benefits-card">
                    <span>Direitos e Privilégios</span>
                    <ul class="rights-privileges">
                        <li>Participar de reuniões e atividades sociais</li>
                        <li>Votar e ser votado para cargos da Diretoria</li>
                        <li>Sugerir projetos e medidas de interesse do DIN</li>
                        <li>Contribuir para campanhas promovidas pela AEDIN</li>
                        <li>Acesso exclusivo à área de transparência financeira</li>
                        <li>Download de modelos de projeto e documentos</li>
                        <li>Networking com profissionais da área de tecnologia</li>
                    </ul>
                </div>
        
                <div class="benefits-card ass">
                    <span>Associação Vitalícia</span>
                    <p>
                        Todos os egressos e docentes que manifestem adesão voluntária à AEDIN 
                        são considerados associados vitalícios, desde que cumpram as disposições estatutárias.
                    </p>
                    <a class="btn">Associe-se Agora</a>
                </div>
            </div>
        </section>
        
        <!-- Nossos Compromissos -->
        <section class="content-section" id="compromissos">
            <div class="red-title-section">
                <h2>Nossos Compromissos</h2>
            </div>
            
            <div class="list-cards">
                {% if page.extra.nossos_compromissos%}
                        {% for card in page.extra.nossos_compromissos%}
                        <div class="card-our-commitments">
                            <div class="card-our-commitments-title">
                                <img width="30" height="30" src="{{ get_url(path=card.icone) }}" alt="{{ card.titulo }}"/>
                                {{ card.titulo }}
                            </div>
                            <p>{{ card.texto | markdown | safe}}</p>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>Dados não encontrados no front-matter.</p>
                    {% endif %}
            </div>
        </section>
   
        <!-- Benefícios Para Colaboradores -->
        <section class="content-section" id="beneficios">
            <div class="blue-title-section">
                <h2>Benefícios Para Colaboradores</h2>
            </div>
            
            <p> 
                Empresas, organizações e pessoas físicas que apoiam a AEDIN através de 
                doações recebem benefícios como: 
            </p>
            
            <div class="member-benefits">
                {% if page.extra.beneficios %}
                        {% for card in page.extra.beneficios %}
                        <div class="member-benefits-card">
                            <p>{{card.texto}}</p>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>Dados não encontrados no front-matter.</p>
                    {% endif %}
            </div>
            
            <div class="member-benefits-content">
                <a class="btn">Saiba como Apoiar a AEDIN</a>
            </div>  
        </section>
        
        <!-- Documentos e Transparência -->
        <section class="content-section" id="transparencia">
            <div class="red-title-section">
                <h2>Documentos e Transparência</h2>
            </div>
            
            <div class="documents-and-transparency">
                {% if page.extra.documentos_e_transparencia %}
                        {% for card in page.extra.documentos_e_transparencia %}
                        <div class="documents-and-transparency-card">
                            <p class="documents-and-transparency-card-title">
                                {{card.titulo}}
                            </p>
                            
                            <p>
                                {{card.texto}}
                            </p>
                            
                            <a class="btn"> {{card.botao}}</a>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>Dados não encontrados no front-matter.</p>
                    {% endif %}
            </div>
        </section>
        
        <!-- Onde Estamos -->
        <section class="content-section" id="onde-estamos">
            <div class="blue-title-section">
                <h2>Onde Estamos</h2>
            </div>
            
            <div class="where-to-find-us">
                {% if page.extra.onde_estamos %}
                        {% for card in page.extra.onde_estamos %}
                        <div class="where-to-find-us-text">
                            <p> 
                                <span>{{card.titulo}}</span> 
                                <br>{{card.texto | markdown | safe}}
                            </p>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>Dados não encontrados no front-matter.</p>
                    {% endif %}
            </div>
            
            <div class="where-to-find-us-content">
                <span> 
                    Tem dúvidas ou sugestões?
                </span>
            
                <a class="btn">Entre em Contato</a>
            </div>  
        </section>
        
    </section>   
</section>
<!-- Comentário qualquer -->

{% endblock content %}
