<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ get_url(path='main.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ get_url(path='images/favicon/favicon.ico') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path='images/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path='images/favicon/favicon-16x16.png') }}">
        <link rel="icon" type="image/png" sizes="192x192" href="{{ get_url(path='images/favicon/android-chrome-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="512x512" href="{{ get_url(path='images/favicon/android-chrome-512x512.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path='images/favicon/apple-touch-icon.png') }}">
        <link rel="shortcut icon" href="{{ get_url(path='images/favicon/favicon.ico') }}">
        <link rel="manifest" href="{{ get_url(path='images/favicon/site.webmanifest') }}">
        <title>{% block title %}{% endblock title %} | AEDIN</title>
    </head>

    <body>
        {% include "partials/header.html" %}

        <main>
            {% block content %} 
            {% endblock content %}
        </main>

        {% include "partials/footer.html" %}
    </body>
</html>
